*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.button-31 {
    width: 10rem;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.button-31:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.button-31:focus {
    outline: none;
}

.button-31{
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
/*Button 27*/

.button-27 {
    pointer-events: auto;
    cursor: pointer;
    background: #e7e7e7;
    border: none;
    padding: 1.5rem 3rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
}

.button-27::before,
.button-27::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.button-27 {
    font-family: freight-display-pro, serif;
    font-weight: 900;
    width: 175px;
    height: 120px;
    color: #fff;
    background: none;
}
.button-27:hover {
    background-color: transparent;
}
.button-27::before {
    content: '';
    background: #e6e6e6;
    -webkit-clip-path: path("M154.5,88.5 C131,113.5 62.5,110 30,89.5 C-2.5,69 -3.5,42 4.5,25.5 C12.5,9 33.5,-6 85,3.5 C136.5,13 178,63.5 154.5,88.5 Z");
    clip-path: path("M154.5,88.5 C131,113.5 62.5,110 30,89.5 C-2.5,69 -3.5,42 4.5,25.5 C12.5,9 33.5,-6 85,3.5 C136.5,13 178,63.5 154.5,88.5 Z");
    transition: clip-path 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55), -webkit-clip-path 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55), background 0.5s ease;
}

.button-27:hover::before {
    background: #000;
    -webkit-clip-path: path("M143,77 C117,96 74,100.5 45.5,91.5 C17,82.5 -10.5,57 5.5,31.5 C21.5,6 79,-5.5 130.5,4 C182,13.5 169,58 143,77 Z");
    clip-path: path("M143,77 C117,96 74,100.5 45.5,91.5 C17,82.5 -10.5,57 5.5,31.5 C21.5,6 79,-5.5 130.5,4 C182,13.5 169,58 143,77 Z");
}

.button-27::after {
    content: '';
    height: 86%;
    width: 97%;
    top: 5%;
    border-radius: 58% 42% 55% 45% / 56% 45% 55% 44%;
    border: 1px solid #000;
    transform: rotate(-20deg);
    z-index: -1;
    transition: transform 0.5s cubic-bezier(0.585, 2.5, 0.645, 0.55);
}

.button-27:hover::after {
    transform: translate3d(0,-5px,0);
}

.button-27 span {
    display: block;
    transition: transform 0.3s ease;
    mix-blend-mode: difference;
}

.button-27:hover span {
    transform: translate3d(0,-10px,0);
}


/*Navigation*/

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 5rem;
    background: black;
    color: white;
}
/*Contents*/
.contents-main{
    width: 100vw;
    height: 20rem;
    display: flex;
    align-self: center;
}
.main-container{
    /*background: #e7e7e7;*/
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main-container a{
    margin-right: 5rem;
}
/*Other content*/
.other-content{
    /*background: black;*/
    width: 100vw;
    height: 60vh;
    /*display: flex;*/
    /*align-self: center; */
}


body .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /*max-width: 1200px;*/
    margin: 40px 0;
    width: 100vw;
}

body .container .card {
    position: relative;
    min-width: 400px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 30px;
    transition: 0.5s;
}

body .container .card:nth-child(1) .box .content a {
    background: #2196f3;
}

body .container .card:nth-child(2) .box .content a {
    background: #e91e63;
}

body .container .card:nth-child(3) .box .content a {
    background: #23c186;
}

body .container .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #2a2b2f;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
}

body .container .card .box:hover {
    transform: translateY(-50px);
}

body .container .card .box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, 0.03);
}

body .container .card .box .content {
    padding: 20px;
    text-align: center;
}

body .container .card .box .content h2 {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 8rem;
    color: rgba(255, 255, 255, 0.1);
}

body .container .card .box .content h3 {
    font-size: 1.8rem;
    color: #fff;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 15px;
}

body .container .card .box .content p {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    transition: 0.5s;
}

body .container .card .box .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: black;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}
body .container .card .box .content a:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
    background: #fff;
    color: #000;
}
h4{
    color: white;
}

.para{
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    color: white;
}
.para span{
    color: red;
}